* {
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 254px;
  top: 261px;
  width: 531px;
  height: 143px;
	animation: zoomIn 0.2s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 5;
}

.s3 {
	position: absolute;
  left: 797px;
  top: 263px;
  width: 138px;
  height: 119px;
	animation: zoomIn 0.3s;
	animation-delay: 0.3s;
	animation-fill-mode: both;
	transform-origin: bottom left;
	z-index: 5;
}

.s4 {
	position: absolute;
  left: 797px;
  top: 263px;
  width: 138px;
  height: 119px;
	animation: flashOff 1s infinite;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 10;
}

@keyframes flashOff {
  0%,  100% {
    opacity: 0;
  }

  25%, 50%, 75% {
    opacity: 1;
  }
}

.s5 {
	position: absolute;
  left: 65px;
  top: 484px;
  width: 299px;
  height: 127px;
	animation: zoomIn 0.5s;
	animation-delay: 1s;
	animation-fill-mode: both;
	transform-origin: left;
	z-index: 5;
}

.s6 {
	position: absolute;
  left: 382px;
  top: 484px;
  width: 299px;
  height: 127px;
	animation: zoomIn 0.5s;
	animation-delay: 1.2s;
	animation-fill-mode: both;
	transform-origin: left;
	z-index: 5;
}

.s7 {
	position: absolute;
  left: 699px;
  top: 484px;
  width: 316px;
  height: 127px;
	animation: zoomIn 0.5s;
	animation-delay: 1.4s;
	animation-fill-mode: both;
	transform-origin: left;
	z-index: 5;
}

.hit_1, .hit_2, .hit_3, .hit_4, .hit_5, .hit_6, .hit_7  {
  position: absolute;
  width: 1080px;
  height: 810px;
  display: none;
  z-index: 15;
}

.hit_pop1 {
	position: absolute;
  left: 395px;
  top: 630px;
  width: 320px;
  height: 72px;
	z-index: 10;
}

.hit_pop2 {
	position: absolute;
  left: 980px;
  top: 616px;
  width: 100px;
  height: 99px;
	z-index: 10;
}

.hit_pop3 {
	position: absolute;
  left: 368px;
  top: 434px;
  width: 140px;
  height: 186px;
	z-index: 10;
}

.hit_pop4 {
	position: absolute;
  left: 513px;
  top: 503px;
  width: 140px;
  height: 186px;
	z-index: 10;
}

.hit_pop5 {
	position: absolute;
  left: 659px;
  top: 435px;
  width: 140px;
  height: 186px;
	z-index: 10;
}

.hit_pop6 {
	position: absolute;
  left: 805px;
  top: 586px;
  width: 140px;
  height: 105px;
	z-index: 10;
}

.hit_pop7 {
	position: absolute;
  left: 805px;
  top: 479px;
  width: 140px;
  height: 105px;
	z-index: 10;
}

.hit_close1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	display: none;
	z-index: 20;
}