*{
	margin: 0px;
	padding: 0px;
}

.s1_1 {
  position: absolute;
  width: 1024px;
  height: 768px;
  z-index: 1;
}

.s1_2_wrap {
  position: absolute;
  left: 219px;
  top: 298px;
  width: 573px;
  height: 171px;
  animation: fadeOutUp 0.3s;
  animation-delay: 2s;
  animation-fill-mode: both;
  z-index: 2;
}

.s1_2 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 573px;
  height: 171px;
  animation: fadeInDown 1s;
  animation-delay: 0s;
  animation-fill-mode: both;
  z-index: 5;
}

.s1_3 {
  position: absolute;
  left: 55px;
  top: 41px;
  width: 906px;
  height: 159px;
  animation: fadeInDown 1s;
  animation-delay: 2s;
  animation-fill-mode: both;
  z-index: 7;
}

.s1_3_out {
  animation: fadeOutUp 0.3s;
  animation-delay: 0s;
  animation-fill-mode: both;
}


.s1_3_1_wrap {
  position: absolute;
  left: 522px;
  top: 256px;
  width: 177px;
  height: 356px;
  animation: pulse 1s infinite;
  animation-delay: 3s;
  animation-fill-mode: both;
  z-index: 6;
}

.s1_3_1 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 177px;
  height: 356px;
  animation: zoomIn 0.5s;
  animation-delay: 3s;
  animation-fill-mode: both;
  z-index: 6;
}

.s1_3_1_out {
  animation: zoomOut 0.3s;
  animation-delay: 0s;
  animation-fill-mode: both;
}


.s1_4 {
  position: absolute;
  left: 183px;
  top: 169px;
  width: 330px;
  height: 567px;
  animation: fadeInLeft 1s;
  animation-delay: 2.5s;
  animation-fill-mode: both;
  z-index: 6;
}

.s1_4_out {
  animation: fadeOutLeft 0.3s;
  animation-delay: 0s;
  animation-fill-mode: both;
}

.s1_5 {
  position: absolute;
  left: 510px;
  top: 598px;
  width: 418px;
  height: 54px;
  animation: fadeInRight 0.5s;
  animation-delay: 3s;
  animation-fill-mode: both;
  z-index: 6;
}

.s1_6 {
  position: absolute;
  left: 835px;
  top: 605px;
  width: 78px;
  height: 41px;
  animation: revealHorizontalSmall 1s infinite;
  animation-delay: 3.5s;
  animation-fill-mode: both;
  clip: rect(0px,0px,100px,0px);
  z-index: 7;
}
.s1_6 {
  background-image: url("s1_6.png");
  position: absolute;
  left: 835px;
  top: 605px;
  width: 78px;
  height: 41px;
  z-index: 16;
}

.s1_5_out {
  animation: fadeOutRight 0.3s;
  animation-delay: 0s;
  animation-fill-mode: both;
}

.strike1 {
  position: absolute;
  left: 485px;
  top: 232px;
  width: 213px;
  height: 401px;
  animation: fadeInDownBig 1s;
  animation-delay: 3.5s;
  animation-fill-mode: both;
  z-index: 10;
}

.s1_7 {
  position: absolute;
  width: 1024px;
  height: 768px;
  animation: fadeIn 1s;
  animation-delay: 0s;
  animation-fill-mode: both;
  display: none;
  z-index: 2;
}

.s1_8_wrap {
  position: absolute;
  left: 199px;
  top: 229px;
  width: 590px;
  height: 175px;
  animation: fadeOutUp 0.5s;
  animation-delay: 2s;
  animation-fill-mode: both;
  display: none;
  z-index: 6;
}

.s1_8 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 590px;
  height: 175px;
  animation: fadeInUp 0.5s;
  animation-delay: 0s;
  animation-fill-mode: both;
  display: none;
  z-index: 5;
}

.s1_9_wrap {
  position: absolute;
  left: 681px;
  top: 303px;
  width: 177px;
  height: 356px;
  animation: zoomOut 0.5s;
  animation-delay: 2s;
  animation-fill-mode: both;
  display: none;
  z-index: 6;
}

.s1_9 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 230px;
  height: 466px;
  animation: zoomIn 0.5s;
  animation-delay: 0s;
  animation-fill-mode: both;
  display: none;
  z-index: 6;
}

.s1_10 {
  position: absolute;
  left: 118px;
  top: 407px;
  width: 725px;
  height: 52px;
  animation: fadeInRight 0.5s;
  animation-delay: 4.2s;
  animation-fill-mode: both;
  display: none;
  z-index: 7;
}

.s1_11 {
  position: absolute;
  left: 753px;
  top: 413px;
  width: 78px;
  height: 41px;
  animation: revealHorizontalSmall 1s infinite;
  animation-delay: 4.7s;
  animation-fill-mode: both;
  clip: rect(0px,0px,100px,0px);
  display: none;
  z-index: 7;
}

.s1_10_out {
  animation: fadeOutRight 0.3s;
  animation-delay: 0s;
  animation-fill-mode: both;
}

.strike2 {
  position: absolute;
  left: 671px;
  top: 285px;
  width: 173px;
  height: 361px;
  animation: fadeInDownBig 0.5s;
  animation-delay: 1s;
  animation-fill-mode: both;
  display: none;
  z-index: 10;
}

.s1_12 {
  position: absolute;
  width: 1024px;
  height: 768px;
  animation: fadeIn 1s;
  animation-delay: 2s;
  animation-fill-mode: both;
  display: none;
  z-index: 3;
}

.s1_13 {
  position: absolute;
  left: 29px;
  top: 212px;
  width: 171px;
  height: 58px;
  animation: fadeInRight 0.5s;
  animation-delay: 2.5s;
  animation-fill-mode: both;
  display: none;
  z-index: 5;
}

.s1_14 {
  position: absolute;
  left: 209px;
  top: 212px;
  width: 155px;
  height: 57px;
  animation: fadeInRight 0.5s;
  animation-delay: 2.8s;
  animation-fill-mode: both;
  display: none;
  z-index: 5;
}

.s1_15 {
  position: absolute;
  left: 370px;
  top: 212px;
  width: 147px;
  height: 57px;
  animation: fadeInRight 0.5s;
  animation-delay: 3.1s;
  animation-fill-mode: both;
  display: none;
  z-index: 5;
}

.s1_16 {
  position: absolute;
  left: 525px;
  top: 185px;
  width: 213px;
  height: 108px;
  animation: fadeInRight 0.5s;
  animation-delay: 3.4s;
  animation-fill-mode: both;
  display: none;
  z-index: 5;
}

.s1_17 {
  position: absolute;
  left: 745px;
  top: 212px;
  width: 250px;
  height: 57px;
  animation: fadeInRight 0.5s;
  animation-delay: 3.7s;
  animation-fill-mode: both;
  display: none;
  z-index: 5;
}

.strike3 {
  position: absolute;
  left: 258px;
  top: 464px;
  width: 239px;
  height: 294px;
  animation: fadeInDownBig 0.5s;
  animation-delay: 4.2s;
  animation-fill-mode: both;
  display: none;
  z-index: 10;
}

.s1_18_wrap {
  position: absolute;
  left: 283px;
  top: 488px;
  width: 210px;
  height: 274px;
  animation: pulse 1s infinite;
  animation-delay: 4.2s;
  animation-fill-mode: both;
  display: none;
  z-index: 4;
}

.s1_18 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 210px;
  height: 274px;
  animation: zoomIn 0.5s;
  animation-delay: 4.2s;
  animation-fill-mode: both;
  display: none;
  z-index: 4;
}

.s1_18_shift {
  animation: swordShift 0.3s;
  animation-delay: 0s;
  animation-fill-mode: both;
  z-index: 4;
}

.s1_19 {
  position: absolute;
  left: 280px;
  top: 358px;
  width: 499px;
  height: 39px;
  animation: fadeInUp 1s;
  animation-delay: 0s;
  animation-fill-mode: both;
  display: none;
  z-index: 6;
}

.s1_20 {
  position: absolute;
  left: 18px;
  top: 160px;
  width: 180px;
  height: 118px;
  animation: tada 0.2s;
  animation-delay: 1s;
  animation-fill-mode: both;
  display: none;
  z-index: 8;
}

.s1_21 {
  position: absolute;
  left: 213px;
  top: 159px;
  width: 149px;
  height: 160px;
  animation: tada 0.2s;
  animation-delay: 1.3s;
  animation-fill-mode: both;
  display: none;
  z-index: 8;
}

.s1_22 {
  position: absolute;
  left: 376px;
  top: 147px;
  width: 133px;
  height: 157px;
  animation: tada 0.2s;
  animation-delay: 1.6s;
  animation-fill-mode: both;
  display: none;
  z-index: 8;
}

.s1_23 {
  position: absolute;
  left: 541px;
  top: 141px;
  width: 183px;
  height: 155px;
  animation: tada 0.2s;
  animation-delay: 1.9s;
  animation-fill-mode: both;
  display: none;
  z-index: 8;
}

.s1_24 {
  position: absolute;
  left: 742px;
  top: 153px;
  width: 270px;
  height: 120px;
  animation: tada 0.2s;
  animation-delay: 2.2s;
  animation-fill-mode: both;
  display: none;
  z-index: 8;
}

.s1_25 {
  position: absolute;
  left: 306px;
  top: 412px;
  width: 462px;
  height: 44px;
  animation: fadeInUp 1s;
  animation-delay: 2.7s;
  animation-fill-mode: both;
  display: none;
  z-index: 6;
}

.s1_26 {
  position: absolute;
  width: 1024px;
  height: 768px;
  animation: revealFull 0.5s;
  animation-delay: 4.5s;
  animation-fill-mode: both;
  clip: rect(768px,0px,0px,1024px);
  display: none;
  z-index: 12;
}

.s1_27 {
  position: absolute;
  left: 106px;
  top: 271px;
  width: 635px;
  height: 140px;
  animation: fadeInUp 0.5s;
  animation-delay: 4.8s;
  animation-fill-mode: both;
  display: none;
  z-index: 14;
}

.s1_28 {
  position: absolute;
  left: 106px;
  top: 433px;
  width: 731px;
  height: 139px;
  animation: fadeInUp 0.5s;
  animation-delay: 5s;
  animation-fill-mode: both;
  display: none;
  z-index: 15;
}

.s1_29 {
  position: absolute;
  left: 106px;
  top: 598px;
  width: 763px;
  height: 140px;
  animation: fadeInUp 0.5s;
  animation-delay: 5.2s;
  animation-fill-mode: both;
  display: none;
  z-index: 15;
}

@keyframes revealFull {
  0% {
    clip: rect(768px,0px,0px,1024px);
	opacity: 1;
  }
  
  100% {
	clip: rect(0px,1024px,768px,0px);
	opacity: 1;
  }
}


@-webkit-keyframes swordShift {
  0% {
  position: absolute;
  left: 283px;
  top: 488px;
  width: 210px;
  height: 274px;
  z-index: 30;
  opacity: 1;
  }

  100% {
  position: absolute;
  left: 96px;
  top: 275px;
  width: 210px;
  height: 274px;
  opacity: 1;
  }
}


@-webkit-keyframes growHeightFull {
  0% {
    height: 0px;
	opacity: 0;
  }

  100% {
    height: 768px;
	opacity: 1;
  }
}

@keyframes growHeightFull {
  0% {
    height: 0px;
	opacity: 0;
  }

  100% {
    height: 768px;
	opacity: 1;
  }
}

.growHeightFull {
  -webkit-animation-name: growHeightFull;
  animation-name: growHeightFull;
}


@keyframes revealHorizontalSmall {
  0% {
    clip: rect(0px,0px,100px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,90px,100px,0px);
	opacity: 1;
  }
}

@-webkit-keyframes growHeight {
  0% {
    height: 0px;
	opacity: 1;
  }

  100% {
    height: 500px;
	opacity: 1;
  }
}

@keyframes growHeight {
  0% {
    height: 0px;
	opacity: 1;
  }

  100% {
    height: 500px;
	opacity: 1;
  }
}

.growHeight {
  -webkit-animation-name: growHeight;
  animation-name: growHeight;
}

@-webkit-keyframes growWidth {
  0% {
    width: 0px;
	opacity: 1;
  }

  100% {
    width: 78px;
	opacity: 1;
  }
}

@keyframes growWidth {
  0% {
    width: 0px;
	opacity: 1;
  }

  100% {
    width: 78px;
	opacity: 1;
  }
}

.growWidth {
  -webkit-animation-name: growWidth;
  animation-name: growWidth;
}

@-webkit-keyframes stampIn {
	0% {
		opacity: 0;
	}
	10% {
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes stampIn {
	0% {
		opacity: 0;
	}
	10% {
		transform-origin: 50% 50%;
		transform: scale(2);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

.stampIn {
  -webkit-animation-name: stampIn;
  animation-name: stampIn;
}

@-webkit-keyframes flashOut {
  0%, 50%, 100% {
    opacity: 0;
  }

  25%, 75% {
    opacity: 1;
  }
}

@keyframes flashOut {
  0%, 50%, 100% {
    opacity: 0;
  }

  25%, 75% {
    opacity: 1;
  }
}

.flashOut {
  -webkit-animation-name: flashOut;
  animation-name: flashOut;
}

@-webkit-keyframes flashIn {
  20%, 60%, 100% {
    opacity: 1;
  }

  0%, 40%, 80% {
    opacity: 0;
  }
}

@keyframes flashIn {
  20%, 60%, 100% {
    opacity: 1;
  }

  0%, 40%, 80% {
    opacity: 0;
  }
}

.flashIn {
  -webkit-animation-name: flashIn;
  animation-name: flashIn;
}
